body {
	margin: 8% 30%;
}


/* Title */
h1 {
	text-align: center;
}

.headline {
	text-align: center;
	font-style: italic;
	margin-bottom: 3rem;
}


/* Submit button */
div:nth-child(3) {
	text-align: center;
}

button {
	background-color: orange !important;
	font-style: bold;
	border: none !important;
}


/* Footer */
#footer {
	text-align: center;
	margin-top: 3rem;
}

