body {
	margin: 8% 30% !important;
}

@media (max-width: 767px) {
	body {
		margin: 15% 15% !important;
	}
}


/* Title */
h1 {
	text-align: center;
}

.headline {
	text-align: center;
	font-style: italic;
	margin-bottom: 3rem;
}


/************* BUTTONS *************/
button {
	background-color: orange !important;
	color: white !important;
	font-style: bold !important;

	border: none !important;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    padding: 0.7rem !important;
}

/* FAQ Button */
.faq {
	position: absolute;
    top: 0px;
    right: 0px;
}

/* Submit Button */
.submit_div {
	text-align: center;
}

/* Saved Requests Button */
.savedRequests_div {
	text-align: center;
	margin-top: 1rem;
}


/* Footer */
#footer {
	text-align: center;
	margin-top: 3rem;
}

