body {
	margin: 8% 30% !important;
}

@media (max-width: 767px) {
	body {
		margin: 15% 15% !important;
	}
}



/* Title */
h1 {
	text-align: center;
}


/* Carousel */
.carousel {
	margin-bottom: 3rem;
}

.carousel > div {
	text-align: center;
	font-style: italic;
}


/* Hacking the labels */
.dhall_div {
	margin-bottom: -24px;
}

.phone_div {
	margin-top: 15px;
	margin-bottom: -24px;
}

.form-group > .control-label {
	color: white;
	opacity: 0;
}

.label_text {
	font-weight: normal !important;
}



/* Saved requests title */
.saved_requests_title {
	margin: 1rem !important;
}



/************* BUTTONS *************/
button {
	background-color: orange !important;
	color: white !important;
	font-style: bold !important;

	border: none !important;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    padding: 0.7rem !important;
}

/* FAQ Button */
.faq {
	position: absolute;
    top: 0px;
    right: 0px;
    -moz-border-radius: 0 0 0 4px;
    -webkit-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}

/* Submit Button */
.submit_div {
	text-align: center;
}

/* Saved Requests Button */
.savedRequests_div {
	text-align: center;
	margin: 1rem 0;
}

/* Saved Requests Items Delete Buttons */
.close {
	margin-top: -8px !important;
	background-color: #F5F5F5 !important;
	color: black !important;
	font-style: bold !important;
}


